@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --ff-barlow: 'Barlow', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: var(--ff-barlow);
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.2rem;
    background-color: #3ebfff;
}

.logo {
    width: 9.5rem;
    max-width: 100%;
}

.nav {
    padding: 1rem;
}

.nav a {
    padding: 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.nav a:not(.contact) {
    color: #fff;
}

.contact {
    background-color: #fff;
    font-family: var(--ff-fraunces);
    color: black;
    margin-left: 1.5rem;
    border-radius: 25px;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s ease;
}

.contact:hover {
    color: #fff;
    background-color: #77d2ff;
}