@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --ff-barlow: 'Barlow', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: var(--ff-barlow);
    font-size: 18px;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.2rem;
    background-color: #3ebfff;
    width: 100%;
}

.logo {
    width: 9.5rem;
    max-width: 100%;
}

.nav {
    padding: 1rem;
}

.nav a {
    padding: 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.nav a:not(.contact, footer nav a) {
    color: #fff;
}

.contact {
    background-color: #fff;
    font-family: var(--ff-fraunces);
    color: black;
    margin-left: 1.5rem;
    border-radius: 25px;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s ease;
}

.contact:hover {
    color: #fff;
    background-color: #77d2ff;
}

.hero {
    background: url('./images/desktop/image-header.jpg') no-repeat bottom center/cover;
    height: 90vh;
    text-align: center;
    font-size: 37px;
}

.hero_title {
    padding: 5rem 0;
    margin-bottom: 1rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--ff-fraunces);
}

.first_row,
.second_row {
    display: flex;
    align-items: center;
    width: 100%;
}

.first_column,
.second_column {
    width: 50%;
    height: 600px;
}

.first_row .first_column,
.second_row .second_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    text-align: left;
}

.first_row .first_column h1,
.second_row .second_column h1 {
    font-family: var(--ff-fraunces);
    color: hsl(212, 27%, 19%);
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: -2px;
}

.first_row .first_column p,
.second_row .second_column p {
    font-family: var(--ff-barlow);
    color: hsl(232, 10%, 55%);
    line-height: 30px;
    padding-top: 1.5rem;
}

.learn {
    padding-block: 20px;
}

.first_row .first_column span,
.second_row .second_column span {
    font-family: var(--ff-fraunces);
    text-transform: uppercase;
    margin: 2rem 0 0 .5rem;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}


.first_row .first_column span::after,
.second_row .second_column span::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    left: 0;
    top: 85%;
    opacity: .5;
    border-radius: 50px;
}

.first_row .first_column span::after {
    background-color: hsl(51, 100%, 49%);
}

.second_row .second_column span::after {
    background-color: hsl(7, 99%, 70%);
}

.first_row .first_column span:hover::after,
.second_row .second_column span:hover::after {
    opacity: 1;
}


.first_row .second_column {
    background: url('./images/desktop/image-transform.jpg') no-repeat center center/cover;
}

.second_row .first_column {
    background: url('./images/desktop/image-stand-out.jpg') no-repeat center center/cover;
}

.third_row {
    display: flex;
    text-align: center;
}

.third_row .first_column {
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat center center/cover;
    color: hsl(167, 40%, 24%);
    position: relative;
}

.third_row .second_column {
    background: url('./images/desktop/image-photography.jpg') no-repeat center center/cover;
    color: hsl(198, 62%, 26%);
    position: relative;
}

.third_row h3 {
    font-family: var(--ff-fraunces);
    font-size: 27px;
    margin-bottom: 2rem;
}

.third_row span {
    font-size: 16px;
    line-height: 1.4rem;
}

.innerpart {
    position: absolute;
    bottom: 3rem;
    margin: 0 auto;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    min-height: 100vh;
    text-align: center;
    background-color: #fffbf8;
}

.testim_title {
    font-family: var(--ff-fraunces);
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
    font-size: 1.3rem;
}

.testim_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    align-items: center;
}

.testimonial img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.testimonial p {
    font-family: var(--ff-barlow);
    color: hsl(232, 10%, 55%);
    line-height: 1.8rem;
    font-weight: 600;
}

.testim_footer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 0.7rem;
    text-align: center;
    align-items: center;
}

.testim_footer h4 {
    font-family: var(--ff-fraunces);
    font-size: 1.1rem;
    font-weight: 900;
}

.testim_footer span {
    font-family: var(--ff-barlow);
    font-size: .9rem;
    color: hsl(210, 4%, 67%)
}


.milk {
    background: url('./images/desktop/image-gallery-milkbottles.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.orange {
    background: url('./images/desktop/image-gallery-orange.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.ice_cream {
    background: url('./images/desktop/image-gallery-cone.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.sugar {
    background: url('./images/desktop/image-gallery-sugarcubes.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

footer {
    background-color: #8ed0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding: 4rem 1.2rem 1rem 1.2rem;
    min-height: 30vh;
}

footer .logo {
    filter: invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(95%) contrast(92%);
}

footer nav a {
    color: hsl(168, 34%, 41%);
    transition: .3s ease;
    font-size: 18px;
}

footer nav a:hover {
    color: #fff;
}

footer .icons i {
    padding-inline: 1rem;
    font-size: 20px;
    color: hsl(167, 40%, 24%);
    transition: .3s ease;
    cursor: pointer;
}

footer .icons i:hover {
    color: #fff;
}

footer h3 {
    font-size: 12px;
}

footer h3 a {
    color: red;
}

@media(min-width:1100px) {
    .innerpart {
        padding: 0 11rem;
    }

    .first_row .first_column,
    .second_row .second_column {
        padding-inline: 9rem;
    }

    .testimonials {
        padding-inline: 7rem;
    }
}

@media(min-width:761px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 25rem;
    }

    .innerpart {
        padding: 0 4rem;
    }

    .first_row .first_column,
    .second_row .second_column {
        padding-inline: 5rem;
    }

    .testimonials {
        padding-inline: 2rem;
    }
}

@media(max-width:760px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 100%;
        height: 50rem;
    }

    .innerpart {
        padding: 0 4rem;
    }

    .testimonials {
        padding: 2rem 1.5rem;
        /* min-height: 100vh; */
    }

    .testim_container {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonial {
        gap: 1rem;
    }

}